@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Figtree', sans-serif;
}

.imgfondo {
    background-image: url("../img/fondoinicio.jpg");
    height: 90vh;
}

.footer {
    grid-area: footer;
    background-color: #e96acd;
  }